@font-face {
    font-family: 'Hiragino Sans GB';
    src: url('/fonts/Hiragino Sans GB.eot');
    src: url('/fonts/Hiragino Sans GB.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Hiragino Sans GB.otf') format('opentype'),
    url('/fonts/Hiragino Sans GB.ttf') format('truetype'),
    url('/fonts/Hiragino Sans GB.svg#webfont34M5alKg') format('svg');
}

body {
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font: 400 12px/1.5 PingFang SC, Helvetica Neue, Hiragino Sans GB, tahoma, arial, Microsoft Yahei, \5b8b\4f53, sans-serif;
}

a:hover {
    color: #ff0000 !important;
}

input {
    font: 400 12px/1.5 PingFang SC, Helvetica Neue, Hiragino Sans GB, tahoma, arial, Microsoft Yahei, \5b8b\4f53, sans-serif;
}

button {
    background-color: #3758B7;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, tahoma, arial, Microsoft Yahei, \5b8b\4f53, sans-serif;
}

button:hover {
    background-color: #4B72E3;
}

#member_info span {
    width: 100%;
!important;
    height: 20px !important;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
}

.box {
    z-index: 100;
    opacity: 1;
    background-color: #fff;
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.head {
    height: 100px;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    background-color: #ffffff;
}

.head_top {
    width: 100%;
    min-width: 1200px;
    height: 28px;
    line-height: 28px;
    background-color: #011328;
    position: fixed;
    z-index: 999;
}

.head_top_nav {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    height: 28px;
    color: #ffffff;
    width: 1200px;
    position: relative;
}

.top_nav_left {
    margin: 0;
    float: left;
    padding: 0;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.top_nav_left:hover {
    color: red;
}

.rotate_logo {
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    -ms-transition: -ms-transform 0.4s ease-out;
}

.fa-close {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
}

.fa-close:hover {
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
}

.member_info {
    z-index: 200;
    position: absolute;
    left: 0;
    top: 28px;
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    font-size: 16px;
    display: none;
    color: #333;
    opacity: 0.8;
}

.top_nav_middle {
    margin-top: 0;
    float: right;
    padding-top: 1px;
    height: 100%;
    margin-right: 40px;
    cursor: pointer;
    position: relative;
}

.top_nav_middle:hover {
    color: red;
}

.user_info {
    position: absolute;
    left: -1px;
    top: 28px;
    z-index: 1000;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    cursor: default;
    border: solid 1px #dfe3e3;
    border-top: solid 0px #ffffff;
    font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.user_info_logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.user_info_message {
    position: absolute;
    left: 100px;
    top: 0px;
    margin: 0;
    padding-left: 10px;
    width: 80px;
    display: inline-block;
}

.user_info_item {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.user_info_item:hover {
    background-color: #3758B7;
    color: white;
}

.top_nav_right {
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 8px;
    float: right;
    height: 100%;
    position: relative;
}

li {
    line-height: 100%;
    vertical-align: middle;
    float: right;
    list-style: none;
}

.head_banner {
    margin: 0;
    position: absolute;
    top: 28px;
    width: 100%;
    min-width: 1200px;
    height: 72px;
    box-sizing: border-box;
    background-color: hsla(0, 0%, 100%, 0.1);
    opacity: 0.99;
    overflow: hidden;
    z-index: 400;
}

.head_banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    margin: -30px;
}

.head_banner_wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.head_logo {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #FF5A5F;
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    cursor: pointer;
}

.head_list {
    position: absolute;
    top: 18px;
    left: 400px;
    height: 72px;
    width: 800px;
    padding: 0;
    margin-top: -9px;
}

.head_list_item {
    float: left;
    display: block;
    height: 60px;
    width: 64px;
    margin-right: 136px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 16px;
    text-align: left;
}

.head_list_item a {
    color: #333;
    text-decoration: none;
    font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.head_list_item a:hover {
    color: #22ac38 !important;
}

.foot {
    height: 260px;
    width: 100%;
    min-width: 1200px;
    background-color: #3B444E;
    color: #ffffff;
}

.foot_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    position: relative;
}

.foot_info {
    width: 740px;
    height: 200px;
    margin: 0;
}

.foot_item {
    padding-top: 40px;
    width: 200px;
    float: left;
}

.foot_item li {
    width: 100%;
    height: 30px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
}

.foot_other_info {
    position: absolute;
    right: 0px;
    top: 40px;
    font-size: 14px;
    line-height: 35px;
    vertical-align: middle;
}

.foot_follow_us {
    position: absolute;
    right: 220px;
    top: 60px;
    width: 100px;
}

.foot_about {
    padding-top: 30px;
    text-align: center;
}
